<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/catalogo.css">
    <link rel="shortcut icon" href="/BackProduto.jpg" type="image/x-icon">
    <title>Catalogo</title>
</head>

<body>

    <h1>Mais vendidos do ano</h1>


    <div class="content">
        <div class="slides">
            <input type="radio" name="slade" id="r1" checked>
            <input type="radio" name="slade" id="r2">
            <input type="radio" name="slade" id="r3">
            <input type="radio" name="slade" id="r4">
            <input type="radio" name="slade" id="r5">
            <input type="radio" name="slade" id="r6">
            <input type="radio" name="slade" id="r7">
            <div class="slide s1">
                <figure>
                    <img src="/catalogo/PulseiraRose.webp" alt="Pulseira Ouro Rosé">
                    <figcaption>Pulseira Ouro Rosé <br> R$ 10.500,00</figcaption>
                </figure>
            </div>
            <div class="slide">
                <figure>
                    <img src="/catalogo/PulseiraItaliana.jpg" alt="Pulseira Italiana Trança Laminada">
                    <figcaption>Pulseira Italiana Trança Laminada <br> R$ 1.299,99</figcaption>
                </figure>
            </div>
            <div class="slide">
                <figure>
                    <img src="/catalogo/AnelOuro21.webp" alt="Anel Ouro Amarelo com 21 Pontos de Diamantes">
                    <figcaption>Anel Ouro Amarelo com 21 Pontos de Diamantes <br> R$ 8.199,99</figcaption>
                </figure>
            </div>
            <div class="slide">
                <figure>
                    <img src="/catalogo/AnelSo20.jpg" alt="Anel Solitário com 20 Diamantes">
                    <figcaption>Anel Solitário com 20 Diamantes <br> R$ 3.000,00</figcaption>
                </figure>
            </div class="slide">
            <div class="slide">
                <figure>
                    <img src="/catalogo/BrincoRose.webp" alt="Brinco Ouro Rosé e Diamantes">
                    <figcaption>Brinco Ouro Rosé e Diamantes <br> R$ 9.999,99</figcaption>
                </figure>
            </div>
            <div class="slide">
                <figure>
                    <img src="/catalogo/BrincoS.webp" alt="Brinco Único Letra S Ouro Amarelo e Diamantes">
                    <figcaption>Brinco Único Letra S Ouro Amarelo e Diamantes <br> R$ 1.789,90</figcaption>
                </figure>
            </div>
            <div class="slide">
                <figure>
                    <img src="/catalogo/Pingente.webp" alt="Pingente Ouro Amarelo Diamantes">
                    <figcaption>Pingente Ouro Amarelo Diamantes <br> R$ 5.000,00</figcaption>
                </figure>
            </div>
     </div>
          
    </div>

    <div class="navegation">
        <label class="bar" for="r1" ></label>
        <label class="bar" for="r2"></label>
        <label class="bar" for="r3"></label>
        <label class="bar" for="r4"></label>
        <label class="bar" for="r5"></label>
        <label class="bar" for="r6"></label>
        <label class="bar" for="r7"></label>
    </div>

</body>

</html>