<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/BackProduto.jpg" type="image/x-icon">
    <title>Index</title>
</head>
<body>
    <h1>Desafio Node.JS </h1>

    <p>Projeto02 consiste em uma aplicação node que contem diversas rotas e arquivos a serem abertos pelo usuário sendo diversos tipos de arquivos diferentes e a criação de um produto e seu catalogo, caso o usuário digite uma rota não existente é encaminhado para a pagina 404.html de rota não encontrada</p>
       
<p id="gp">Guilherme Souza Viana 29641578 <br> Uriel Pereira 29693578</p>


</body>
</html>